# Obtaining Our Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

Your boss gives you a general description of some of the datasets at your disposal for analyzing weekly store sales. They're eventually looking for you to build a model to help determine what factors impact sales, and model future sales forecasting for business planning.  
  
Most of the properietary store data sits in the company sql database, accessible by all managers and above. The database is called **Walmart.db** Your boss provides you with the following basic schema:  

<img src='db_schema.jpg' width=500>  

She then tells you that she's put together a second dataset on general economy statistics for the various dates that she would also like you to incorporate in your analysis. That data, she says, is stored in a file **economy_data.csv**.

As a first step in creating your model for providing recommendations and projections, load and synthesize these disperate datasets into a singular unified DataFrame. Then save your results to a file **Merged_Store_Data.csv**.

Make sure you check the various data types and merge appropriately.

In [1]:
# import statements
import sqlite3
import pandas as pd

In [2]:
#Create a connection
con = sqlite3.connect('Walmart.db')
#Create a cursor
cur = con.cursor()
#Select some data
# cur.execute("""""")
# df = pd.DataFrame(cur.fetchall())
# df.columns = [i[0] for i in cur.description]
# print(df.shape)
# df.head()

In [3]:
def sql_select_to_df(SQL_COMMAND, cur=cur):
    results = cur.execute(SQL_COMMAND).fetchall()
    df = pd.DataFrame(results)
    df.columns = [i[0] for i in cur.description]
    return df

In [21]:
sql_select_to_df("""SELECT * FROM sales;""").head(25)

    Store  Dept        Date  Weekly_Sales IsHoliday
0       1     1  2010-02-05      24924.50     False
1       1     1  2010-02-12      46039.49      True
2       1     1  2010-02-19      41595.55     False
3       1     1  2010-02-26      19403.54     False
4       1     1  2010-03-05      21827.90     False
5       1     1  2010-03-12      21043.39     False
6       1     1  2010-03-19      22136.64     False
7       1     1  2010-03-26      26229.21     False
8       1     1  2010-04-02      57258.43     False
9       1     1  2010-04-09      42960.91     False
10      1     1  2010-04-16      17596.96     False
11      1     1  2010-04-23      16145.35     False
12      1     1  2010-04-30      16555.11     False
13      1     1  2010-05-07      17413.94     False
14      1     1  2010-05-14      18926.74     False
15      1     1  2010-05-21      14773.04     False
16      1     1  2010-05-28      15580.43     False
17      1     1  2010-06-04      17558.09     False
18      1     1  2010-06-11      16637.62     False
19      1     1  2010-06-18      16216.27     False
20      1     1  2010-06-25      16328.72     False
21      1     1  2010-07-02      16333.14     False
22      1     1  2010-07-09      17688.76     False
23      1     1  2010-07-16      17150.84     False
24      1     1  2010-07-23      15360.45     False

In [5]:
#merge walmart db
walmart_df = sql_select_to_df("""SELECT * FROM sales 
                            JOIN store_details
                            using('Store')""")

In [25]:
walmart_df.head()

   Store  Dept        Date  Weekly_Sales IsHoliday Type    Size
0      1     1  2010-02-05      24924.50     False    A  151315
1      1     1  2010-02-12      46039.49      True    A  151315
2      1     1  2010-02-19      41595.55     False    A  151315
3      1     1  2010-02-26      19403.54     False    A  151315
4      1     1  2010-03-05      21827.90     False    A  151315

In [6]:
#import csv
economy_df = pd.read_csv('economy_data.csv')

In [34]:
economy_df.sort_values(['Date',])

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
2730,16,2010-02-05,19.79,2.580,NaN,NaN,NaN,NaN,NaN,189.381697,7.039,False
5460,31,2010-02-05,39.05,2.572,NaN,NaN,NaN,NaN,NaN,210.752605,8.324,False
3640,21,2010-02-05,39.05,2.572,NaN,NaN,NaN,NaN,NaN,210.752605,8.324,False
4550,26,2010-02-05,9.55,2.788,NaN,NaN,NaN,NaN,NaN,131.527903,8.488,False
7280,41,2010-02-05,30.27,2.580,NaN,NaN,NaN,NaN,NaN,189.381697,7.541,False
2548,15,2010-02-05,19.83,2.954,NaN,NaN,NaN,NaN,NaN,131.527903,8.350,False
5642,32,2010-02-05,34.43,2.580,NaN,NaN,NaN,NaN,NaN,189.381697,9.014,False
910,6,2010-02-05,40.43,2.572,NaN,NaN,NaN,NaN,NaN,212.622352,7.259,False
3458,20,2010-02-05,25.92,2.784,NaN,NaN,NaN,NaN,NaN,204.247194,8.187,False
1274,8,2010-02-05,34.14,2.572,NaN,NaN,NaN,NaN,NaN,214.471451,6.299,False
2366,14,2010-02-05,27.31,2.784,NaN,NaN,NaN,NaN,NaN,181.871190,8.992,False
5824,33,2010-02-05,58.40,2.962,NaN,NaN,NaN,NaN,NaN,126.442065,10.115,False
4186,24,2010-02-05,22.43,2.954,NaN,NaN,NaN,NaN,NaN,131.527903,8.326,False
4004,23,2010-02-05,15.25,2.788,NaN,NaN,NaN,NaN,NaN,131.527903,5.892,False
6916,39,2010-02-05,44.30,2.572,NaN,NaN,NaN,NaN,NaN,209.852966,8.554,False
4732,27,2010-02-05,27.19,2.954,NaN,NaN,NaN,NaN,NaN,135.352461,8.237,False
7098,40,2010-02-05,14.48,2.788,NaN,NaN,NaN,NaN,NaN,131.527903,5.892,False
3822,22,2010-02-05,24.36,2.788,NaN,NaN,NaN,NaN,NaN,135.352461,8.283,False
1820,11,2010-02-05,46.04,2.572,NaN,NaN,NaN,NaN,NaN,214.424881,7.368,False
4914,28,2010-02-05,49.47,2.962,NaN,NaN,NaN,NaN,NaN,126.442065,13.975,False
3276,19,2010-02-05,20.96,2.954,NaN,NaN,NaN,NaN,NaN,131.527903,8.350,False
7644,43,2010-02-05,47.31,2.572,NaN,NaN,NaN,NaN,NaN,203.064274,9.521,False
546,4,2010-02-05,43.76,2.598,NaN,NaN,NaN,NaN,NaN,126.442065,8.623,False
3094,18,2010-02-05,21.33,2.788,NaN,NaN,NaN,NaN,NaN,131.527903,9.202,False
5096,29,2010-02-05,24.36,2.788,NaN,NaN,NaN,NaN,NaN,131.527903,10.064,False
2912,17,2010-02-05,23.11,2.666,NaN,NaN,NaN,NaN,NaN,126.442065,6.548,False
5278,30,2010-02-05,39.05,2.572,NaN,NaN,NaN,NaN,NaN,210.752605,8.324,False
182,2,2010-02-05,40.19,2.572,NaN,NaN,NaN,NaN,NaN,210.752605,8.324,False
8008,45,2010-02-05,27.31,2.784,NaN,NaN,NaN,NaN,NaN,181.871190,8.992,False
...,...,...,...,...,...,...,...,...,...,...,...,...
6005,33,2013-07-26,89.73,3.865,9.79,NaN,NaN,NaN,500.03,NaN,NaN,False
2547,14,2013-07-26,76.06,3.804,779.98,731.33,13.90,185.27,1972.09,NaN,NaN,False
181,1,2013-07-26,81.54,3.620,332.17,673.19,1.00,38.63,1245.20,NaN,NaN,False
7825,43,2013-07-26,79.13,3.620,43.37,NaN,1.18,NaN,531.35,NaN,NaN,False
363,2,2013-07-26,83.17,3.620,1966.46,609.55,91.00,493.60,2416.20,NaN,NaN,False
7643,42,2013-07-26,83.32,3.865,NaN,NaN,0.17,NaN,756.79,NaN,NaN,False
545,3,2013-07-26,85.53,3.620,586.26,256.64,NaN,88.91,1152.08,NaN,NaN,False
7461,41,2013-07-26,67.56,3.582,497.67,1454.29,6.30,4.00,2418.00,NaN,NaN,False
727,4,2013-07-26,78.96,3.580,1577.60,687.89,9.60,314.64,1433.77,NaN,NaN,False
7279,40,2013-07-26,66.90,3.879,145.10,1149.84,109.30,33.24,1116.30,NaN,NaN,False
909,5,2013-07-26,84.16,3.620,131.42,35.39,0.09,NaN,948.51,NaN,NaN,False
7097,39,2013-07-26,83.84,3.620,12682.46,1094.97,21.85,170.61,2779.41,NaN,NaN,False
1091,6,2013-07-26,84.42,3.620,543.69,798.02,16.05,70.40,2648.37,NaN,NaN,False
6915,38,2013-07-26,90.27,3.865,73.70,NaN,16.90,NaN,423.05,NaN,NaN,False
5459,30,2013-07-26,85.00,3.620,35.08,NaN,0.50,NaN,525.63,NaN,NaN,False
1273,7,2013-07-26,56.69,3.582,180.87,54.56,NaN,36.65,877.99,NaN,NaN,False
1455,8,2013-07-26,78.70,3.620,675.56,740.04,55.38,73.42,2343.11,NaN,NaN,False
6551,36,2013-07-26,83.28,3.587,128.41,NaN,NaN,39.52,405.62,NaN,NaN,False
1637,9,2013-07-26,82.37,3.620,52.43,258.14,NaN,2.50,1265.60,NaN,NaN,False
6369,35,2013-07-26,77.01,3.804,237.96,50.00,4.00,23.64,1059.83,NaN,NaN,False
1819,10,2013-07-26,83.32,3.865,1221.15,936.36,165.50,198.93,1649.64,NaN,NaN,False
6187,34,2013-07-26,77.89,3.580,248.84,728.21,3.20,39.88,1503.59,NaN,NaN,False
4003,22,2013-07-26,74.25,3.879,329.08,769.49,16.95,33.83,1043.07,NaN,NaN,False
2001,11,2013-07-26,85.64,3.620,2387.21,717.20,106.70,1084.84,3264.52,NaN,NaN,False
2183,12,2013-07-26,90.27,3.865,1008.91,232.99,6.00,284.49,2132.08,NaN,NaN,False
5823,32,2013-07-26,72.99,3.582,549.89,940.93,86.00,106.47,1530.56,NaN,NaN,False
2365,13,2013-07-26,83.62,3.669,346.31,1377.41,93.40,140.32,2147.06,NaN,NaN,False
5641,31,2013-07-26,85.00,3.620,1394.82,138.71,12.00,970.77,6859.07,NaN,NaN,False
6733,37,2013-07-26,83.28,3.620,178.00,11.86,NaN,NaN,779.32,NaN,NaN,False
8189,45,2013-07-26,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False

In [8]:
msd = walmart_df.copy()

In [27]:
msd = pd.merge(walmart_df,economy_df,on=['Store','Date'])

In [32]:
msd.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2,2010-02-05,50605.27,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
2,1,3,2010-02-05,13740.12,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
3,1,4,2010-02-05,39954.04,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
4,1,5,2010-02-05,32229.38,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False

## Summary
Nice work! You're working more and more independently through the workflow, and ensuring data integrity!