# Obtaining Our Data - Lab

## Introduction
In this lab you'll practice your munging and transforming skills in order to load in your data to solve a regression problem.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Task Description

Your boss gives you a general description of some of the datasets at your disposal for analyzing weekly store sales. They're eventually looking for you to build a model to help determine what factors impact sales, and model future sales forecasting for business planning.  
  
Most of the properietary store data sits in the company sql database, accessible by all managers and above. The database is called **Walmart.db** Your boss provides you with the following basic schema:  

<img src='db_schema.jpg' width=500>  

She then tells you that she's put together a second dataset on general economy statistics for the various dates that she would also like you to incorporate in your analysis. That data, she says, is stored in a file **economy_data.csv**.

As a first step in creating your model for providing recommendations and projections, load and synthesize these disperate datasets into a singular unified DataFrame. Then save your results to a file **Merged_Store_Data.csv**.

Make sure you check the various data types and merge appropriately.

In [1]:
# import statements
import sqlite3
import pandas as pd

In [2]:
#Create a connection
con = sqlite3.connect('Walmart.db')
#Create a cursor
cur = con.cursor()
#Select some data
# cur.execute("""""")
# df = pd.DataFrame(cur.fetchall())
# df.columns = [i[0] for i in cur.description]
# print(df.shape)
# df.head()

In [3]:
def sql_select_to_df(SQL_COMMAND, cur=cur):
    results = cur.execute(SQL_COMMAND).fetchall()
    df = pd.DataFrame(results)
    df.columns = [i[0] for i in cur.description]
    return df

In [21]:
sql_select_to_df("""SELECT * FROM sales;""").head(25)

    Store  Dept        Date  Weekly_Sales IsHoliday
0       1     1  2010-02-05      24924.50     False
1       1     1  2010-02-12      46039.49      True
2       1     1  2010-02-19      41595.55     False
3       1     1  2010-02-26      19403.54     False
4       1     1  2010-03-05      21827.90     False
5       1     1  2010-03-12      21043.39     False
6       1     1  2010-03-19      22136.64     False
7       1     1  2010-03-26      26229.21     False
8       1     1  2010-04-02      57258.43     False
9       1     1  2010-04-09      42960.91     False
10      1     1  2010-04-16      17596.96     False
11      1     1  2010-04-23      16145.35     False
12      1     1  2010-04-30      16555.11     False
13      1     1  2010-05-07      17413.94     False
14      1     1  2010-05-14      18926.74     False
15      1     1  2010-05-21      14773.04     False
16      1     1  2010-05-28      15580.43     False
17      1     1  2010-06-04      17558.09     False
18      1     1  2010-06-11      16637.62     False
19      1     1  2010-06-18      16216.27     False
20      1     1  2010-06-25      16328.72     False
21      1     1  2010-07-02      16333.14     False
22      1     1  2010-07-09      17688.76     False
23      1     1  2010-07-16      17150.84     False
24      1     1  2010-07-23      15360.45     False

In [5]:
#merge walmart db
walmart_df = sql_select_to_df("""SELECT * FROM sales 
                            JOIN store_details
                            using('Store')""")

In [36]:
walmart_df.sort_values(['Date','Store'])

        Store  Dept        Date  Weekly_Sales IsHoliday Type    Size
0           1     1  2010-02-05      24924.50     False    A  151315
300576     28    23  2010-02-05      34467.26     False    A  206302
37554       1    58  2010-02-05       7659.97     False    A  151315
300719     28    24  2010-02-05      10204.96     False    A  206302
300862     28    25  2010-02-05      17179.75     False    A  206302
37411       1    56  2010-02-05       2567.36     False    A  151315
301005     28    26  2010-02-05      15392.58     False    A  206302
419637     41    81  2010-02-05      19533.79     False    A  196321
301148     28    27  2010-02-05       1788.00     False    A  206302
301291     28    28  2010-02-05        786.91     False    A  206302
300433     28    22  2010-02-05      19443.36     False    A  206302
301434     28    29  2010-02-05       7473.91     False    A  206302
301577     28    30  2010-02-05       6254.44     False    A  206302
301720     28    31  2010-02-05       3093.21     False    A  206302
37135       1    54  2010-02-05        439.00     False    A  151315
301863     28    32  2010-02-05      13194.17     False    A  206302
302006     28    33  2010-02-05      10327.77     False    A  206302
302149     28    34  2010-02-05      27606.78     False    A  206302
36992       1    52  2010-02-05       3508.04     False    A  151315
36959       1    51  2010-02-05          1.16     False    A  151315
302292     28    35  2010-02-05       3227.00     False    A  206302
37268       1    55  2010-02-05      21249.31     False    A  151315
419494     41    80  2010-02-05      14315.57     False    A  196321
300290     28    21  2010-02-05       7313.97     False    A  206302
300147     28    20  2010-02-05      10789.16     False    A  206302
298317     28     6  2010-02-05       6287.70     False    A  206302
419923     41    83  2010-02-05       4659.00     False    A  196321
298460     28     7  2010-02-05      26116.12     False    A  206302
298603     28     8  2010-02-05      40408.92     False    A  206302
38269       1    72  2010-02-05      98499.12     False    A  151315
...       ...   ...         ...           ...       ...  ...     ...
429978     43    10  2012-10-26        460.46     False    C   41062
205678     18    74  2012-10-26      20132.84     False    B  120653
31336       1     5  2012-10-26      25846.94     False    A  151315
205840     18    79  2012-10-26      21832.43     False    B  120653
205964     18    80  2012-10-26        634.37     False    B  120653
206107     18    81  2012-10-26      14036.52     False    B  120653
206250     18    82  2012-10-26      28394.02     False    B  120653
206385     18    83  2012-10-26       1622.36     False    B  120653
206528     18    85  2012-10-26       2374.69     False    B  120653
31193       1     4  2012-10-26      36292.60     False    A  151315
206671     18    87  2012-10-26      17935.77     False    B  120653
206814     18    90  2012-10-26      28935.82     False    B  120653
429835     43     9  2012-10-26         63.67     False    C   41062
206957     18    91  2012-10-26      25552.73     False    B  120653
207100     18    92  2012-10-26      79880.45     False    B  120653
207236     18    93  2012-10-26       3040.58     False    B  120653
207365     18    94  2012-10-26       8188.72     False    B  120653
31050       1     3  2012-10-26       9350.90     False    A  151315
207508     18    95  2012-10-26      63251.27     False    B  120653
207538     18    96  2012-10-26        -11.51     False    B  120653
207677     18    97  2012-10-26       7883.30     False    B  120653
207806     18    98  2012-10-26       2304.62     False    B  120653
207951     19     1  2012-10-26      33686.67     False    A  203819
208094     19     2  2012-10-26      46788.18     False    A  203819
429692     43     8  2012-10-26      13118.75     False    C   41062
30907       1     2  2012-10-26      43134.88     False    A  151315
208237     19     3  2012-10-26      11691.02     False    A  203819
208380     19     4  2012-10-26      27783.22     False    A  203819
205249     18    67  2012-10-26       6612.40     False    B  120653
452191     45    98  2012-10-26       1076.80     False    B  118221

[452192 rows x 7 columns]

In [6]:
#import csv
economy_df = pd.read_csv('economy_data.csv')

In [35]:
economy_df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [8]:
msd = walmart_df.copy()

In [27]:
msd = pd.merge(walmart_df,economy_df,on=['Store','Date'])

In [32]:
msd.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2,2010-02-05,50605.27,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
2,1,3,2010-02-05,13740.12,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
3,1,4,2010-02-05,39954.04,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
4,1,5,2010-02-05,32229.38,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False

## Summary
Nice work! You're working more and more independently through the workflow, and ensuring data integrity!